[submodule "tricore-gcc"]
	path = tricore-gcc
	url = git@github.com:kopernikusauto/tricore-gcc.git
	branch = main
[submodule "tricore-binutils-gdb"]
	path = tricore-binutils-gdb
	url = git@github.com:kopernikusauto/tricore-binutils-gdb.git
	branch = master
[submodule "tricore-newlib-cygwin"]
	path = tricore-newlib-cygwin
	url = git@github.com:kopernikusauto/tricore-newlib-cygwin.git
	branch = master
